<ul>
    {% for link in main_menu %}
        <li>
            <a href="{{ url(link.route) }}" {% if link.route == active %}class="active"{% endif %}>
                {{ link.label | trans }}
            </a>
        </li>
    {% endfor %}
</ul>