{% extends 'base.html.twig' %}

{% block header %}
    <header>

    </header>
{% endblock %}

{% block content %}
    <main>
        {% block main_content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer>

    </footer>
{% endblock %}
